.back-button {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(220, 125, 36);
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
}
#startButton {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px; 
}

#container {
    width: 400px;
    height: 200px;
    border: 1px solid black;
    position: relative;
    margin: auto;
}
#mark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 190px;
    background-color: black;
    border-top: 2px solid black;
}

#ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    left: 0;
    top: 75px;
}

.result {
    margin-top: 10px;
    font-size: 20px;
}

button#startButton,
button.instructions-button{
    background-color: rgb(220, 125, 36);
    color: white;
    border: none;
    padding: 20px 40px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    border-radius: 40px;
}

button#startButton:hover,
button.instructions-button:hover, button.back-button:hover{
    background-color: rgba(217, 145, 84, 0.84);
}

body {
    font-family: sans-serif;
    background: rgba(35, 35, 101, 0.45);
    color: white;
    text-align: center;
    margin: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(35, 35, 101, 0.45);
}

.modal-content {
    background-color: rgba(35, 35, 101, 0.64);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ffffff;
    width: 80%;
}

.close {
    color: rgba(255, 105, 51, 0.73);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ff6933;
    text-decoration: none;
    cursor: pointer;
}

progress {
    width: 200px;
    height: 20px;
    background-color: rgba(26, 188, 156, 0.25);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 10px;

}

progress::-webkit-progress-value {
    background-color: #1abc9c;
    border-radius: 10px;
}
#boundary {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 500px;
    height: 300px;
    border: 2px solid black;
}
