/* General */
html{
    background-color: rgba(45, 45, 100, 0.45);
    font-family: Arial, sans-serif;
}

/* Form */
form {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

caption {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

th,
td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #fe8401;
    color: #fff;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: rgba(45, 45, 100, 0.03);
}

/* Input Fields */
input[type="number"] {
    width: 80px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #ffa340;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

input[type="submit"] {
    display: block;
    margin-top: 40px;
    padding: 14px 20px;
    background-color: #fe8401;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    background-color: #ffa340;
}

.return-btn {
    display: inline-block;
    padding: 10px;
    background-color: #fe8401;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}

.return-btn:hover {
    background-color: #ffa340;
}