footer{
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: rgb(65, 65, 119);
    color: #ffffff;
    font-family: monospace;
}
header{
    display: flex;
    justify-content: center;
    background-color: #eeac4a;
    color: #000000;
}

html, body{
    height: 100%;
}
body{
    background-color:rgba(35, 35, 101, 0.45);
    color: rgb(65, 65, 119);
    /*rgb(145, 145, 195);*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-family: sans-serif;
}
h1{
    font-size: 150%;
}
button{
top: 20px;
right: 20px;
width: 60px;
height: 30px;
border-radius: 20px;
background-color: #dc7d24;
color: white;
font-size: 16px;
border: none;
outline: none;
cursor: pointer;
}
button:hover{
    background-color: #f5ad69;
}
.custom-button-hard-math-sound{
    width: 190px;
}
.custom-button-hard-color{
    width: 130px;
}
.custom-button-hard-math-picture{
    width: 230px;
}
.custom-button-PVK-test{
    width: 120px;
}
.custom-button-movement-easy{
    width: 150px;
}
.custom-button-movement-hard{
    width: 150px;
}
.custom-button-tracking{
    width: 260px;
}
.custom-button-tracking-stalking{
    width: 300px;
}
.wrapper {
	position: relative;
	min-height: 100%;
}
.content {
	padding-bottom: 90px;
}
.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
}
.test{
    margin-left: 25px;
}
.test-group{
    margin-left: 10px;
}
.custom-button3 {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    background-color: #f3953d;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    }
    .custom-button3:hover{
      background-color:#f5ad69;
    }