body {
    font-family: sans-serif;
    background: #293a80;
    color: white;
    text-align: center;
  }
  .content{
     padding: 10px 10px 10px 200px;
      display:inline-block;
      box-shadow:4px 4px 5px rgba(170, 70, 200, 0.); /*костыл какой-то, подумать над тем как норм сделать*/
    text-align:left;
  }
  h4{
    font-style:italic;
    font-weight:normal;
  }
  .characteristic{
    font-size:30px;
  }
  
  /* для элемента input c type="checkbox" */
  .custom-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  
  /* для элемента label, связанного с .custom-checkbox */
  .custom-checkbox>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  
  /* создание в label псевдоэлемента before со следующими стилями */
  .custom-checkbox>span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 4px solid #F4C430;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  
  /* стили при наведении курсора на checkbox */
  .custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #b3d7ff;
  }
  
  /* стили для активного чекбокса (при нажатии на него) */
  .custom-checkbox>input:not(:disabled):active+span::before {
    background-color: #f3953d;
    border-color: #FF8E00;
  }
  
  /* стили для чекбокса, находящегося в фокусе */
  .custom-checkbox>input:focus+span::before {
    box-shadow: 0 0 0 0.2rem rgba(248, 213, 104, 0.25);
  }
  
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  .custom-checkbox>input:focus:not(:checked)+span::before {
    border-color: #80bdff;
  }
  
  /* стили для чекбокса, находящегося в состоянии checked */
  .custom-checkbox>input:checked+span::before {
    border-color: #f3953d;
    background-color: #f3953d;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
  
  /* стили для чекбокса, находящегося в состоянии disabled */
  .custom-checkbox>input:disabled+span::before {
    background-color: #e9ecef;
  }
  /*********************************************************************************************************************************************/
  .custom-button {
      display: inline-block;	
      box-sizing: border-box;
      padding: 0 25px;
      margin: 0 15px 15px 0;
      outline: none;
      border: 1px solid #293a80;
      border-radius: 50px;
      height: 46px;
      line-height: 46px;
      font-size: 16px;
      font-weight: 900;
      text-decoration: none;
      color: #fff;
      background-color: rgb(249,149,61);
      box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
      cursor: pointer;
      user-select: none;
      appearance: none;
      touch-action: manipulation;  
      vertical-align: top;
      transition: box-shadow 0.2s;
  }
  
  .custom-button:focus-visible {
      box-shadow: 0 0 0 2px #666;
  }
  .custom-button:hover {
      background-color: #DBE7F2;
  }
  .custom-button:active {
      transform: scale(0.96);
  }
  .custom-button:disabled {
      pointer-events: none;
      opacity: 0.65;
  }
  .custom-button3 {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 30px;
  border-radius: 20px;
  background-color: orange;
  color: white;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
}